# docker-compose.yml
version: "3.9"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: GO-intern
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/GO-intern?schema=public"
      PORT: "8080"
      NODE_ENV: "production"
    ports:
      - "8080:8080"
    # command: sh -c "npx prisma migrate deploy && node dist/main.js"
    volumes:
      - .:/app
    working_dir: /app

volumes:
  dbdata:
